/**Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@200;400&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Kanit:wght@200;400&family=Lexend:wght@600&family=Raleway:wght@300&display=swap');

/* Button Each state 

a:visited { text-decoration: none; color:rgb(255, 255, 255); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }

/**Everything Else**/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    min-height: 95vh;
}

nav{
    background: rgb(28, 28, 29);
    height: 80px;
    width: 100%;
    font-weight: bold;
}
label.logo{
    color: white;
    font-size: 35px;;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

label.logo a{
    transition: 0s;
    color: white;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
nav ul li a:hover{
    transition: 0.5s;
    color: rgb(50, 71, 255);
}
a.active,a:hover{
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media only screen and (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .wrapper, .wrapper2, .wrapper3{
        width: 100% !important;
    }
}
@media only screen and (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgb(28, 28, 29);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;

    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: gray;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .wrapper, .wrapper2, .wrapper3{
        width: 100% !important;
    }
}

/** THE BIG HEADER THING **/

section{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/2020_Banner.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    width: 100%;
    height: 600px;
    z-index: 12;
    top: 100px;
    background-position: center center;
    -webkit-background-size: cover;

}
section h2{
    padding-top: 8%;
    font-size: 70px;
    margin-left: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: left;
}

section button{
    padding: 20px 30px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 175px;
    margin-left: 200px;
    transition: 0.2s;
    font-family: 'Lexend', sans-serif;
}

section p{
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-left: 200px;
    font-size: 20px;
}

section button:hover{
    background-color: rgb(201, 193, 193);
    color: black;
}

section button a{
    color: black;
}

/** content **/

.content-area{
    width: 70%;
    position: relative;
    background: #ffffff;
    margin: 150px auto; 
    justify-content: center;
    align-items: center; 
}
.content-area h2{
    font-family: 'Lexend', sans-serif;
    letter-spacing: 0px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.wrapper, .wrapper2, .wrapper3{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 50px;
    margin-bottom: 1rem;
    margin-top: 100px;
}
.wrapper, .wrapper2, .wrapper3 h2{
    font-family: 'Lexend', sans-serif;
    padding: 10px;
    font-size: 45px;
}
.wrapper, .wrapper2, .wrapper3 p{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}

.wrapper2 h2{
    text-align: right;
}

.wrapper2 p{
    text-align: right;
}

.image-left img{
    max-width: 420px;
    float: left;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 15px;
}

.image-right img{
    max-width: 420px;
    float: right;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 100px;
}

.image-left1 img{
    max-width: 420px;
    float: left;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 100px;
}


footer{
    background-color: #000;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;  
}
.copyright{
    text-align: center;
    width: 100%;
}
.copyright p{
    color: white;
    font-size: 20px;
    padding: 50px 20px;
}

h1, h2{
    font-family: 'Lexend', sans-serif;
}

.container{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-grow: 1;
    padding: 0 40px;
    font-family: 'Raleway', sans-serif;
    background-color: aliceblue;
}

.div1, .div2{
    width: 21em;
    height: 25em;
    background-color: #ffffff;
    box-shadow: 5px 5px 25px black;
    padding: 10px 30px;
    border-radius: 10px;
}

.container h1{
    color:rgb(5, 85, 233);
    margin-bottom: 30px;
}

.pageheading h2{
    color: #000;
    font-size: 4rem;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    background-color: aliceblue;
}

.container button{
    padding: 10px 20px;
    background-color: rgb(5, 85, 233);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    transition: 0.2s;
    font-family: 'Lexend', sans-serif;
}

.container button a{
    color: white;
}

.container button:hover{
    background-color: rgb(4, 43, 117);
}

@media(max-width: 952px){
    .container{
        height: 100%;
        flex-direction: column;
    }
    .div1, .div2{
        max-width: 80%;
        padding: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .pageheading h2{
        font-size: 3rem;
        margin: 0;
        padding-top: 20px;
    }
    .content-area{
        flex-direction: column;
        text-align: center;
        width: 90%;
    }

    .content-area img{
        float: none;
        margin: auto;
        display: block;
    }
    .wrapper, .wrapper2, .wrapper3{
        overflow: hidden;
        margin-top: 0;
    }
    .wrapper2 h2{
        text-align: center;
    }
    .wrapper2 p{
        text-align: center;
    }
    section h2{
        margin: auto;
        margin-left: auto;
        display: block;
        text-align: center;
        width: 80%;
    }

    section p{
        color: white;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        margin: auto;
        width: 80%;
    }

    section button{
        margin: auto;
        margin-top: 50px;
        margin-left: auto;
        display: block;
    }
    .image-left{
        margin-top: auto;
        display: block;
    }
    .image-right{
        margin-top: auto;
        display: block;
    }
    .image-left1{
        margin-top: auto;
        display: block;
    }

}



/** ABOUT ME PAGE **/

.about-banner{
    background-color: rgb(28, 28, 29);
    width: 100%;
    height: 900px;
}

.about-intro{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 300px;
    padding-left: 200px;
    margin-bottom: 1rem;
    width: 50%;
}

.about-banner img{
    height: 800px;
    float: right;
    clear: both;
    margin-right: 200px;
    padding-top: 50px;
}

